<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/myrobotlab/src/org/myrobotlab/service/Runtime.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.myrobotlab.service.Runtime"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-service gui SwingGui python Python -LogToConsole"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="myrobotlab"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&quot;libraries/native/x86.32.windows;libraries/native/x86.64.windows&quot;"/>
</launchConfiguration>
